.searchbar {
    flex: 1;
    min-width: 0;
    max-width: 600px;
    box-sizing: border-box;
    height: 50px;

    display: flex;
    align-items: center;
    gap: 12px;

    padding: 8px 14px;

    border-radius: 50px;

    background: linear-gradient(
        360deg,
        rgba(197, 255, 52, 0.837) 0%,
        rgba(118, 153, 31, 0.766) 100%
    );

    border: 1.5px solid var(--lime-green);

    transition: var(--transition);
}

.searchbar__icon {
    color: #1b1b1b;
}

.searchbar__input {
    flex: 1;
    min-width: 0;

    border: none;
    outline: none;

    background: transparent;

    color: #202020;

    font-size: 1rem;
    font-weight: 500;
}

.searchbar__input::placeholder {
    color: rgba(0,0,0,0.65);
}

