.chat-list__glass-frame {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    border-radius: 50px 50px 0px 50px;
    border: 2px solid rgba(255, 255, 255, 0.30);
    background: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3),
    inset 0 1px 1px rgba(255, 255, 255, 0.1);
}

.chat-list {
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
}

.chat-item {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 15px;
    padding: 9px 12px;
    background: rgba(133, 133, 133, 0.70);
    border-radius: 66px;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    backdrop-filter: blur(10px);
    box-shadow: -0.23px -0.17px 7.19px rgba(255, 255, 255, 0.12) inset,
    -0.36px -0.27px 14.39px rgba(255, 255, 255, 0.12) inset,
    0px 6.64px 6.64px rgba(18, 9, 35, 0.70) inset;
}

.chat-item:hover {
    background: rgba(126, 59, 237, 0.2);
    transform: translateX(4px);
}

.chat-item__avatar {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #C6FF34;
    flex-shrink: 0;
}

.chat-item__name {
    font-size: 16px;
    font-weight: 400;
    color: #1E1E1E;
    font-family: 'Poppins', sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}