.share-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
    color: white;
}

.share-count {
    font-size: 15px;
    font-weight: 600;
    padding: 0px;
    line-height: 1;
}

.repeat-active {
    stroke: #C6FF34;
}

.repeat-inactive {
    stroke: white;
}