.like-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
    color: white;
}

.like-count {
    font-size: 15px;
    font-weight: 600;
    padding-top: 0px;
}

.heart-active {
    fill: #C6FF34;
    stroke: #C6FF34;
}

.heart-inactive {
    fill: transparent;
    stroke: white;
}